{% extends 'index.html' %} {% block contenido %}
<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="/static/img/fotos de categorias/marco 1.jpg">
            <img src="/static/img/fotos de categorias/marco 1.jpg" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
    </div>
</div>

<div class="responsive">
    <div class="gallery">
        <a target="_blank" href="/static/img/fotos de categorias/marco 2.jpg">
            <img src="/static/img/fotos de categorias/marco 2.jpg" width="600" height="400">
        </a>
        <div class="desc">Add a description of the image here</div>
    </div>
</div>

{% endblock %}